
.expense-item {
    display: flex;
    background-color: rgb(32, 33, 36);
    padding: 5px;
    margin: 5px;
    justify-content: space-between;
}
.expense-item div{
    padding: 5px;
}
.expense-item h2 {
    margin: 0;
    display: flex;
}
.expense-item .details {
    display: flex;
    padding: 0;
    margin: 0 10px;
}
.expense-item .title {
    font-size: 16px;
}

.expense-item .amount{
    border:1px solid rgb(192, 145, 192);
    background-color: rgb(112, 66, 156);
    border-radius: 4px;
    margin-left: 10px;
   width: 100px;
}
.expense-item .date {
    display: flex;
    /* flex-direction: column; */
    border: 1px solid #e4d2d2;
    border-radius: 4px;
    background: rgb(63, 62, 62);
    color: yellow;
    width: auto;
    line-height: 0.7em;
}

